/* styles.css */

body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  /* Dark Mode Styles */
  body.dark-mode {
    background-color: #222;
    color: #fff;
  }

/* Class for the animated text */
.animated-text {
    opacity: 0; /* Start with zero opacity */
    transition: opacity 1s ease-in-out; /* Property to animate, duration, and timing function */
  }
  
  /* Add the 'fadeIn' class to change opacity to 1 and reveal the text */
  .animated-text.fadeIn {
    opacity: 1;
  }
  
  /* Agrega estilos de animación a la clase .animated-logo */
.animated-logo {
  animation: bounce 1s infinite; /* Nombre de la animación, duración, repetición */
}

/* Define la animación llamada 'bounce' */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Estado inicial y final, sin cambio en la posición vertical */
  }
  40% {
      transform: translateY(-20px); /* Posición elevada en el 40% de la animación */
  }
  60% {
      transform: translateY(-10px); /* Posición elevada en el 60% de la animación */
  }
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

/* Estilos personalizados para las flechas del carrusel */
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin: 0;
}

.carousel-control-prev {
  left: -30px; /* Ajusta la posición a la izquierda */
}

.carousel-control-next {
  right: -30px; /* Ajusta la posición a la derecha */
}

.footer {
  width: 100%;
  background-color: #f8f9fa; /* Color de fondo del footer, ajusta según sea necesario */
  padding: 10px 0; /* Espaciado interno del footer, ajusta según sea necesario */
}